*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    background-image: url("brba.jpg");
    background-position: 78% 0 ;
    background-size: auto 100vh;
    background-color: #ffffff;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* DISABLES WEIRD COLORS ON BUTTONS */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(51, 51, 51, 0.5);
}

:root {
    font-size: 16px;
    font-family: "Raleway Regular";
    --text-primary: #ececec;
    --text-secondary: #FFFFFF;
    --bg-primary: #016A32;
    --bg-secondary: #085933;
    --transition-speed: 600ms;
}

/* DISABLES TURNING OF THE PHONE */
@media (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

